<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estoy en edit</h1>
     <form th:action="@{/publications/put/{id}(id=${publication.id})}" th:object="${publication}" method="post">

        <div class="mb-3">
            <label>Tipo</label>
            <select class="form-control" th:field="*{type}">
                <option value="LOST">Perdido</option>
                <option value="FOUND">Encontrado</option>
                <option value="ADOPTION">Adopción</option>
            </select>
        </div>
        <div>
            <label>Status</label>
            <select class="form-control" th:field="*{status}">
                <option value="ACTIVE">Activo</option>
                <option value="INACTIVE">Inactivo</option>
            </select>
        </div>
        

        <div class="mb-3">
            <label>Nombre de la mascota</label>
            <input type="text" class="form-control" th:field="*{petName}">
        </div>

        <div class="mb-3">
            <label>Especie</label>
            <select class="form-control" th:field="*{species}">
                <option value="Perro">Perro</option>
                <option value="Gato">Gato</option>
                <option value="Pájaro">Pájaro</option>
                <option value="Roedor">Roedor</option>
                <option value="Otro">Otro</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Raza</label>
            <input type="text" class="form-control" th:field="*{breed}">
        </div>

        <div class="mb-3">
            <label>Color</label>
            <input type="text" class="form-control" th:field="*{color}">
        </div>

        <div class="mb-3">
            <label>Barrio</label>
            <input type="text" class="form-control" th:field="*{neighborhood}">
        </div>

        <div class="mb-3">
            <label>Ubicación exacta</label>
            <input type="text" class="form-control" th:field="*{location}">
        </div>

        <div class="mb-3">
            <label>Descripción</label>
            <textarea class="form-control" th:field="*{description}" rows="4"></textarea>
        </div>

        <div class="mb-3">
            <label>URL Imagen</label>
            <input type="text" class="form-control" th:field="*{imagenUrl}">
        </div>

        <div class="mb-3">
            <label>Teléfono de contacto</label>
            <input type="text" class="form-control" th:field="*{contactPhone}">
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/publications}" class="btn btn-secondary">Cancelar</a>

    </form>
    
</body>
</html>